@model IEnumerable<Mesarbres.Models.val_dom>

@*<div class="ValeursDom">*@

   
    <table class="table table-bordered table-striped" id="RstRecherche">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.code_dom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_val)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.val)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descrip)
            </th>
         
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code_dom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code_val)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.val)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.actif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descrip)
                </td>
                <td>
                    <div class="pull-right">

                        @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
                        &nbsp;
                        &nbsp;
                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
                    </div>
                </td>

            </tr>
        }

    </table>
@*</div>*@

