@model Mesarbres.Models.org

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer Organisation</h2>

<h3>ëtes-vous sûr de vouloir supprimer?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.niv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sigle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sigle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cntct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cntct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adr)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cretn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cretn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modf)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-primary" />
        @Html.ActionLink("Retour à la liste", "Index")
    </div>
    }
</div>
