@using Mesarbres.Helpers
@model PagedList<Mesarbres.Models.code_dom>

@{
    ViewBag.Title = "Domaines de valeurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Mesarbres.Helpers;
@using PagedList;
@using PagedList.Mvc;

<div class="container">

    <h4>Gestion des domaines de valeurs</h4>


    @using (Html.BeginForm("index", "DomaineValeur", FormMethod.Get))
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="col-lg-2">
                    @Html.TextBox("code", "", new { @class = "form-control", @placeholder = "Code domaine" })
                    @*@Html.TextBox("name", "", new { @class = "css-class", @onclick = "alert('demo');" });*@
                </div>

                <div class="col-lg-1 pull-left">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>

                <div class="col-lg-2 pull-right">
                        @*@Html.ActionLink("Ajouter un domaine de valeur", "Create")*@
                        @Html.NoEncodeActionLink("Ajouter Code Domaine", "Add", "Create", "DomaineValeur", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary " })                    
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="RstRecherche">
            <tr>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actif?
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descrip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.actif)
                    </td>

                    <td>
                        <div class="pull-right">
                            @Html.ActionLink(" ", "Edit", new { id = item.code }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            @Html.ActionLink(" ", "Delete", new { id = item.code }, new { @class = "glyphicon glyphicon-trash", title = "Supprimer" })
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            @Html.NoEncodeActionLink("Valeurs", "Valeurs", "Index", "Valeur", routeValues: new { codedom = item.code }, htmlAttributes: new { })
                        </div>
                    </td>
                    @*<td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.code }) |                        
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.code }) |
                        @Html.NoEncodeActionLink("Voir Valeurs", "Valeurs", "Index", "Valeur", routeValues: new { codedom = item.code }, htmlAttributes: new { })
                   </td>*@
                </tr>

            }

        </table>

        <div class="col-sm-10">
            <div class="center">
                @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, pageSize = Model.PageSize }))
                Affichage de @Model.FirstItemOnPage  à @Model.LastItemOnPage
                des @Model.TotalItemCount enregistrements
            </div>
        </div>

        @*<div class="pager">
                  @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>*@

    }

    @*<div id="ValDiv">

        </div>*@
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}








