@model Mesarbres.Models.prof_util

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer Profil</h2>

<h3>êtes-vous sûr de vouloir supprimer?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typ_util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typ_util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typ_propr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typ_propr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ss_org)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ss_org)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extnsn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extnsn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_local)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.util)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.util)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cretn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cretn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modf)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-primary" />
        @Html.ActionLink("Retour à la liste", "Index")
    </div>
    }
</div>
